body {
  background: #0e0e0e;
  background-size: 500px 780px;
  background-image: url(assets/paper.png);
  background-position: center;
  background-repeat: no-repeat;
  color: #0e0e0e;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0 auto;
}

div.main {
  margin: auto;
  margin-bottom: 0;
  width: 500px;
  height: 780px;
  align-content: center;
  border-top: 10px solid rgb(117, 148, 151);
  border-bottom: 10px solid rgb(117, 148, 151);
  text-align: center;
}

h3.underlineK {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
  padding-bottom: 0;
  border-bottom: 1px solid #0e0e0e;
  width: 270px;
  margin: auto;
}

h3.underlineBlue {
  color: rgb(117, 148, 151);
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 1px solid rgb(117, 148, 151);
  width: 96px;
  margin: auto;
}

.secondColor {
  color: rgb(117, 148, 151);
}

img {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

h2 {
  font-size: 20pt;
  padding: 0;
  margin: 0;
  line-height: 1;
}

h1 {
  font-size: 48pt;
  padding-top: 30px;
  margin: 6px;
  line-height: .9;
}

h3 {
  margin: 0;
}
