body {
  background-position: center;
  background: rgb(0, 0, 0);
  margin-top: 0px;
  padding-bottom: 40px;
  padding: 0px;
  color: rgb(0, 0, 0);
  font-family: verdana, san-serif;
  font-size: 13pt;
  line-height: 1.5;
}

div.main {
  align-content: center;
  width: 960px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 10px;
  background: #cccccc;
  text-align: center;
}

h1 {
  color: #ffffff;
  background: #595a56;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: #000000;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

nav {
  color: white;
  margin: 0;
  padding: 0;
}

ul.nav {
  list-style: none;
  padding: 0;
  overflow: hidden;
  background-color: #e64d3d;
  margin: 0;
}

li.nav {
  float: left;
}

li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

li a:hover {
  background-color: #595a56;
  color: #ffffff;
}

img {
  width: 960px;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-bottom-color: #000000;
}

h2 {
  color: #e64d3d;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #e64d3d;
  margin-left: 40px;
  margin-right: 40px;
}

p {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

span.bold {
  font-weight: bolder;
}

span.oblique {
  font-style: oblique;
}

p.dialogue {
  font-style: italic;
  border-bottom-style: solid;
  margin-left: 40px;
  margin-right: 40px;
  border-bottom-width: 2px;
  border-bottom-color: #e64d3d;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

h4 a {
  text-decoration: none;
  color: #e64d3d;
}

h4 a:hover {
  text-decoration: none;
  color: #595a56;
}

a {
  text-decoration: none;
  color: #e64d3d;
}

a:hover {
  text-decoration: none;
  color: #595a56;
}

h4.faq {
  text-align: left;
  font-size: 13pt;
  margin-left: 40px;
  margin-right: 40px;
}

ul.steps {
  list-style: none;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
}

ul.steps li::before {
  content: "\2022";
  color: #e64d3d;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

div.bottom {
  align-content: center;
  width: 960px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 60px;
  background: #cccccc;
  text-align: center;
}
